[submodule "components/wasm/wasm-micro-runtime"]
	path = components/wasm/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/lcd/adfruitbus"]
	path = components/lcd/adfruitbus
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "components/lcd/agfxlib"]
	path = components/lcd/agfxlib
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "components/lcd/st7735"]
	path = components/lcd/st7735
	url = https://github.com/adafruit/Adafruit-ST7735-Library
[submodule "components/m5stack/M5Core2"]
	path = components/m5stack/M5Core2
	url = https://github.com/m5stack/M5Core2
[submodule "components/m5stack/M5EPD"]
	path = components/m5stack/M5EPD
	url = https://github.com/m5stack/M5EPD
